- var url          = '';
- var local_url    = 'http://192.168.11.3:3000/';
- var site_name    = '';
- var og_locale    = 'jp_JP';
- var og_type      = 'company';
- var twitter_card = 'summary_large_image';
- var twitter_site = '@';
- var title        = '';
- var description  = '';
- var og_img       = 'img/ogp.png';
- var favicon      = 'favicon.ico';
- var path         = '.'

doctype html
html(lang="ja")
  head
    include ./include/_head

  body
    include ./include/_header
    main 
      .FV
        picture.FV-bg 
          source(media="(min-width: 769px)", srcset=path+"/img/page/fv_bg.png")
          img(src=path+"/img/page/fv_sp_bg.png", alt="")
        .FV-img
          .FV-img_txt
            img(src=path+"/img/page/fv_txt.png", alt="")
          picture.FV-img_jisseki
            source(media="(min-width: 769px)", srcset=path+"/img/page/fv_content.png")
            img(src=path+"/img/page/fv_sp_content.png", alt="")
        .FV-sp.sp-only 
          img(src=path+"/img/page/fv_sp_human.png", alt="")
        .FV-cta 
          a(href="")
            img(src=path+"/img/page/btn.png", alt="")
      section.about
        .section-wrapper 
          .about-content
            h2.about-content-lead 
              em 独自の指導ノウハウ
              |を活かし
              br
              em 日々、より良い授業を提供する
              |ことが
              br
              |わたしたちの使命です。
            p.about-content-txt 浜学園は一人ひとりの能力を最大限に伸ばすことを主眼に置いています。<br>そして志望校合格という夢を実現していただくために<br>塾生や保護者の方々をサポートする様々な仕組みを実践しています。
          .about-img-pc
            .about-img-pc-left 
              .about-img-pc-left_above
                img(src=path+"/img/page/about_bg_1.png", alt="")
              .about-img-pc-left_below
                img(src=path+"/img/page/about_bg_2.png", alt="")
            .about-img-pc-right.pc-only
              img(src=path+"/img/page/about_bg_3.png", alt="")
      section.worries 
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle こんなお悩みありませんか？
          .worries-content
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_1.png", alt="")
              p.worries-content-item-txt 成績不振で親子関係が悪化
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_2.png", alt="")
              p.worries-content-item-txt 授業スピードについていけない
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_3.png", alt="")
              p.worries-content-item-txt 志望校の受験を想定した<br>カリキュラムがない
      section.strengths#anc-01
        .worries-arrow
          img(src=path+"/img/page/arrow.png", alt="")
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 浜学園の強み
          .strengths-content 
            .strengths-content-item
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_1.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-blue 塾生の家庭学習や質問をフォロー
                p.strengths-content-item-txt-text 塾生向けWebサイト上で詳細な解説をご覧いただける「難問解説サービス」や、動画コンテンツとしての「Web全問解説講義」の配信により、ご自宅で家庭学習に取り組んでいただく中で生じた疑問や不明点を、その場ですぐに解消することができるサポート体制を用意しております。また、授業の前後で講師に直接質問に来ていただくことも可能です。
            .strengths-content-item.strengths-content-item--column-reverse
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_2.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-blue 能力に応じたクラス構成
                p.strengths-content-item-txt-text 入塾時にお受けいただく入塾テストだけではなく、受講開始以降も前回の講義内容を確認する「復習テスト」や、月に1度の実力試しとしての「公開学力テスト」の成績から、定期的なクラス替えを実施しております。同じ講座であればどのクラスでも進度は同じですが、クラスにより深度を変えているため、お子様の学力に合わせた効率的な学習が可能です
            .strengths-content-item
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_3.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-blue 志望校別対策講座<br>負担が少ない受講料
                p.strengths-content-item-txt-text 基本的な内容を習得するマスターコース・土曜マスターコースと別に、特訓講座で志望校合格に向けたサポートをしていきます。特に、小6夏から開講する日曜志望校別特訓では、お子様の志望校に合わせた細かいコース選択が可能です。中核コースと併習していただくことで、基本と応用の双方向からの学習を進めていきます。
      section.reason#anc-02
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 浜学園が選ばれる理由
          .reason-content
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_1.png", alt="")
              h3.reason-content-item-ttl お子様に合わせて選べる豊富な学習コース
              p.reason-content-item-txt 平日（月～土）夕方実施のマスターコース、週に1回実施の土曜マスターコース、ハイレベルな内容に特化した特訓コースなど複数のコースをご用意しております。学年に合わせて受講スタイルを変えていくことも可能です。低学年のうちに週1回の受講から開始し、通塾に慣れてからコースを変更・追加するなど、お子様のスタイルに合わせてご選択いただけます。
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_2.png", alt="")
              h3.reason-content-item-ttl 自分でも学べるWebスクール
              p.reason-content-item-txt 浜学園の授業を受講したいけれども近くに教室がないなどの諸事情で通塾できない方のため、浜学園の授業をいつでも受講できるWebスクールをご用意しております。受験指導の中核講座「マスターコース」や難関校志望者の必須講座「最高レベル特訓算数・国語・理科」などを視聴いただけます。また、学習サポートについては、通塾生と同じものを提供しているため、家庭学習でのお困りごとも解消していただけます。
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_3.png", alt="")
              h3.reason-content-item-ttl 一流の講師陣による講義
              p.reason-content-item-txt 厳しい研修を経て、一定の水準をクリアした者だけが授業を担当しています。もちろん講師昇格後も日々研鑽を重ね、定期的な研修への参加や、講師指導書による授業内容の質の確保、丁寧な教材研究による授業準備を実施しています。また、塾生からの授業アンケートを実施し、その結果を評価に反映させることで、子ども達のこころをつかむ授業を行い、生徒の学力アップにつなげています。
      section.voice#anc-03
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 保護者様の声
          .voice-content 
            .voice-content-item 
              .voice-content-item-img
                img(src=path+"/img/page/voice_img_1.png", alt="")
              h3.voice-content-item-ttl 強みになるテキストを挿入します。
              h3.voice-content-item-ttl 16~30文字を入れたいです。
              p.voice-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .voice-content-item 
              .voice-content-item-img
                img(src=path+"/img/page/voice_img_2.png", alt="")
              h3.voice-content-item-ttl 強みになるテキストを挿入します。
              h3.voice-content-item-ttl 16~30文字を入れたいです。
              p.voice-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      section.faq#anc-04
        .section-wrapper 
          .section-ttl
            h2.section-ttl-middle 
              | よくある質問
          .faq-content
            .faq-item
              dl 
                input(type="checkbox" id="faq-01")
                label(for="faq-01") 
                  dt
                    p.faq-item-txt 合格実績について
                  dd 
                    details 
                      summary 
                        span.faq-item-question なぜ毎年、最難関・難関中学に多くの合格者を輩出できるのですか？
                      p.faq-item-answer 創業時からの英才教育を指導理念としてきた歴史と長年培われてきた実績から生みだされた学習システムがあるからです。<br>詳細は、
                          a(href="") 中学受験合格のノウハウ満載 学習システム
                          | をご覧ください。
                  dd
                    details 
                      summary 
                        span.faq-item-question 合格者の声に接する機会はありますか？
                      p.faq-item-answer 合格者の声を集めた
                          a(href="") 合格体験記
                          | をホームページで公開しています。
            .faq-item
              dl 
                input(type="checkbox" id="faq-02")
                label(for="faq-02") 
                  dt
                    p.faq-item-txt 学習システムについて
                  dd 
                    details 
                      summary 
                        span.faq-item-question 浜学園の学習システムの特長はどんなところですか？
                      p.faq-item-answer まず、復習主義を採用しており予習は一切不要です。従って学習サイクルは講義から始まり1週間の家庭学習を経て、次回の講義で復習テストを実施し学習の達成度を測ります。その他、2ヵ月に一度クラス替えを行うなど競争原理を導入しています。詳しくは「浜学園教育基本方針」に記載されております。<br>詳細は、
                          a(href="") 中学受験合格のノウハウ満載 学習システム
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 宿題はありますか？
                      p.faq-item-answer 一般的な意味で宿題に相当するものを浜学園では「家庭学習」と呼んでいます。ふつうの宿題のように翌週に塾で答え合わせをするのではなく、家で答え合わせと間違い直しまでするように指導しています。そして、次回の授業で復習テストに臨みます。浜学園では、この「講義→家庭学習→復習テスト」の学習サイクルによって、学力アップを図ります。自発的な学習習慣を形成することで、塾生の意欲を喚起し、無理なく学力を向上させるのが目的です。<br>詳細は、
                          a(href="") 中学受験合格のノウハウ満載 学習システム
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 自分の子どもがついていけるか心配です。大丈夫でしょうか？
                      p.faq-item-answer 浜学園では、全クラス共通の学習計画表を使用し、学習の進度も全クラス同じです。ただし、VSHの各クラス帯によって、家庭学習の量や難易度を変えていますので、お子様の学力に合った学習量になっています。また、毎回実施される復習テストで1週間の学習の達成度を知ることで少しずつ弱点分野に修正を加えることができます。もちろん、種々のケア＆フォローが準備されていますのでご安心ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question クラス替えはありますか？クラス分けはどのように行っていますか？
                      p.faq-item-answer 複数クラスのある場合、2ヶ月に1度、公開学力テストと復習テストの成績の総合成績によってクラス替えが行われます。<br>詳細は、
                          a(href="") 中学受験合格のノウハウ満載 学習システム
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 授業でわからなかったことは、個別に質問できますか？
                      p.faq-item-answer 授業の前後に質問できます。また、居残り強化指導（申込制）時にも質問ができます。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 欠席したときのサポートはありますか？
                      p.faq-item-answer 「マスターコース」や「最高レベル特訓」の授業を映像化し、インターネットで配信する「
                          a(href="") Web講義
                          | 」を活用し、欠席した講義を自宅で視聴することができます。<br>詳細は、
                          a(href="") 映像配信による強力サポート Web講義
                          | をご覧ください。<br>また、欠席した生徒へは、授業のポイントをわかり易く要約したプリント「欠席者のための講義要点のまとめ」（小2～小6）を配布し、少しでも次の授業に支障のないようにしています。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 浜学園では個別指導も受けられますか？
                      p.faq-item-answer 完全な個別指導を希望される場合は、浜学園グループでは個別指導部門「Hamax」を展開しています。遡り学習や発展問題の解説など学習習熟度に対応した効率的な学習指導を行います。<br>詳細は、
                          a(href="") Hamax（外部リンク）
                          | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-03")
                label(for="faq-03") 
                  dt
                    p.faq-item-txt コースについて
                  dd 
                    details 
                      summary 
                        span.faq-item-question クラスは何クラスありますか？1クラス何名ぐらいですか？
                      p.faq-item-answer クラス数は教室規模によりますが、クラスの人数は20名～30名のクラスが標準的です。それぞれの教室や学年によって異なりますが、小規模教室でも学年ごとにその母集団に応じてクラス人数やクラス数が設定されています。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 土日に通えるコースはありますか？
                      p.faq-item-answer 土曜日に通える「土曜マスターコース」があります。講義内容・カリキュラム・学習進度・テキストは「マスターコース」と同じですが、復習テストが選択制になっている点などが異なります。<br>詳細は、
                          a(href="") 多彩な講座ラインナップ 目的別コース
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 土曜マスターコースと平日のコースでは内容に違いがありますか？
                      p.faq-item-answer 講義内容・カリキュラム・学習進度・テキストは同じですが、復習テストが選択制になっている点などが異なります。<br>詳細は、
                          a(href="") 多彩な講座ラインナップ 目的別コース
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question Webスクールでも同じ授業が受けられますか？
                      p.faq-item-answer 実際に行われている「マスターコース」と「最高レベル特訓」の授業を撮影し、最小限の編集を経て配信しています。そのため、ご自宅で通塾と変わらない内容の学習が可能です。<br>詳細は、
                          a(href="") 映像配信による強力サポート Web講義
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question マスターコースと特訓コースなど、コースを併用できますか？
                      p.faq-item-answer あらかじめ併用できるよう設定されているため、無理なく通うことができます。例えばマスターコースに加え、よりレベルの高い内容の習得のため最高レベル特訓を受講することができます。（ただし、最高レベル特訓には受講資格を満たす成績が必要です）<br>詳細は、
                          a(href="") 多彩な講座ラインナップ 目的別コース
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 特訓コースだけ受講することはできますか？また、他塾に通いながら受講できますか？
                      p.faq-item-answer いずれも可能ですが、入塾テストに合格し入塾していただき、受講資格を満たす成績が必要です。<br>詳細は、
                          a(href="") 特訓コース
                          | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-04")
                label(for="faq-04") 
                  dt
                    p.faq-item-txt テストについて
                  dd 
                    details 
                      summary 
                        span.faq-item-question 入塾テストは毎日行っていますか？
                      p.faq-item-answer 入塾テストは4種類あり、それぞれのテスト日程は下記の通りです。<br>1.公開学力テスト→毎月第2日曜日<br>2.土曜入塾テスト→毎週土曜日午後２時半から実施<br>3.特別扱い入塾テスト→ご都合に合わせ、各教室にて随時実施。ただし、事前に予約することが必要。<br>4.無料オープンテスト→年4回<br>詳細は、
                          a(href="") いつからでも受講可能 入塾の流れ
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 入塾テストでは、何割ぐらいの人が合格しますか？
                      p.faq-item-answer 何割が合格するというものではなく、学校の勉強がしっかりできている方なら合格できます。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 入塾テストは何度でも受けられますか？
                      p.faq-item-answer はい。不合格の場合でも再度、入塾テストを受験していただけます。（ただし、3ヵ月間に2回まで）
                  dd 
                    details 
                      summary 
                        span.faq-item-question 公開学力テストと学力診断無料オープンテストの違いは何ですか？
                      p.faq-item-answer 公開学力テストは、全塾生と一般生(浜学園塾生でない方)を対象に毎月1回実施しますが、塾生に対しては2ヵ月に一度の学力判定を兼ねており、かつクラス替えの基本資料としている重要なテストです。<br>学力診断無料オープンテストは一般生(浜学園塾生でない方)のみを対象に年4回実施しますが、学力診断と銘打っていますので、公立小学校での既習範囲を中心とし単元別の学力診断を行うのが目的です。なお入塾テストも兼ねています。（無料）<br>詳細は、
                          a(href="") 学力がわかる・伸びる 学力テスト
                          | をご覧ください。
                  dd
                    details 
                        summary 
                          span.faq-item-question 公開学力テストなどで遅刻した場合はどうなりますか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 10分以上遅刻した場合は受験できません。<br>詳細は、
                            a(href="") 公開学力テスト
                            | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-05")
                label(for="faq-05") 
                  dt
                    p.faq-item-txt 講師について
                  dd
                    details 
                        summary 
                          span.faq-item-question 浜学園の先生はどんな先生ですか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 一流の講師を生みだすために、「講師三軍制」を採っています。採用テストに合格した段階が三軍、准講師（テスト実施業務）が二軍、厳しい研修課程を経て講師登用試験に合格した講師を一軍としています。<br>詳細は、
                            a(href="") 先生も実力主義 一流の講師陣
                            | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-06")
                label(for="faq-06") 
                  dt
                    p.faq-item-txt 入塾について
                  dd
                    details 
                        summary 
                          span.faq-item-question 入塾前に授業体験ができますか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 小2～小6の塾生でない方を対象に、無料体験入塾を行っています。<br>詳細は、
                            a(href="") 学習のサイクルを体験 無料体験入塾
                            | をご覧ください。
                  dd
                    details 
                        summary 
                          span.faq-item-question 無料体験入塾を利用される方は多いですか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 浜学園の入塾手続きをする前に授業内容や学習サイクルをしっかり理解していただくように、体験入塾をおすすめしています。そのため、最近では殆どの方が体験入塾を経て、納得の上、入塾していただいています。<br>詳細は、
                            a(href="") 学習のサイクルを体験 無料体験入塾
                            | をご覧ください。
                  dd
                    details 
                        summary 
                          span.faq-item-question 入塾テストに合格すると、いつから受講できますか？また、学期の途中からでも入塾できますか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 手続きをしたタイミングで、いつからでも受講可能です。<br>詳細は、
                            a(href="") いつからでも受講可能 入塾の流れ
                            | をご覧ください。
                  dd
                    details 
                        summary 
                          span.faq-item-question 何年生から通い始めるのが良いですか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 中学受験を目指し浜学園に入塾される方は小4からが多いようです。ただし、低学年の頃からゆるやかに着実に学力をつけ、学習習慣をつけておきたいとお考えの場合は、低学年（小1・小2・小3）からの入塾をおすすめします。
                  dd
                    details 
                        summary 
                          span.faq-item-question プール制度とは？　特典はありますか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 浜学園には入塾後円滑に受講できるよう、新年度の入塾希望者を前年の10月より塾生登録する「プール制度」があります。入塾テストに合格し入塾手続きを完了した方を「プール生」と呼んでいます。プール生の特典としては、公開学力テストの受験料無料と新年度準備プリント（算数・国語）を毎月提供するなどがあります。<br>詳細は、
                            a(href="") いつからでも受講可能 入塾の流れ
                            | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 入塾説明会はありますか？
                      p.faq-item-answer 公開学力テストの翌週の土曜日に入塾説明会を開催しています。また、学力診断無料オープンテストやオープンイベント講座の際にも、入塾説明会を実施しています。また、保護者様のご要望に応じて、教室責任者がご説明いたしますので、お気軽にお申し出ください。<br>詳細は、
                          a(href="") いつからでも受講可能 入塾の流れ
                          | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-07")
                label(for="faq-07") 
                  dt
                    p.faq-item-txt サポートについて
                  dd 
                    details 
                      summary 
                        span.faq-item-question 子どもの通学が心配です。どのような安全対策を行っていますか？
                      p.faq-item-answer 『オルパスメール』というサービスを全教室で導入しています。お子様の教室到着時刻と教室出発時刻を、メールで保護者様へお知らせします。<br>詳細は、
                          a(href="") 通塾情報お知らせメール オルパスメール
                          | をご覧ください。<br>また、教室周辺の路上や建物内の廊下などに職員やSG（セーフティガードと称する安全誘導者）が立ち、安全管理体制をとっています。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 最寄の駅などからの塾生送迎バスはありますか？
                      p.faq-item-answer 一部の教室では塾生送迎バスを運行しております。<br>詳細は、
                          a(href="") 教室案内
                          | から各教室のページをご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 授業についていけなくなった時はどうすればよいですか？
                      p.faq-item-answer まず、塾側で復習テストの結果から授業についていけない生徒を発見したり、保護者よりのお申し出により、不定期に指名補講を行います。最近では”ご自宅で何時でも何回でも視聴できる”Web講義による反復学習をする方も増えています。<br>詳細は、
                          a(href="") 塾生・保護者の不安解消 ケア＆フォロー
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 個別に進路相談や教育相談を受けられますか？
                      p.faq-item-answer 保護者の悩みや疑問を受け止め、これらを払拭していただくために何時でも、何回でも「個別教育相談」を受け付けています。<br>詳細は、
                          a(href="") 個別教育相談
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question お電話でサポートが受けられますか？
                      p.faq-item-answer 浜学園での学習を続けていく中で出てくるさまざまな悩みに対し、電話や面談で気軽に相談できる 「個別教育相談」を設けています。<br>詳細は、
                          a(href="") 個別教育相談
                          | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-08")
                label(for="faq-08") 
                  dt
                    p.faq-item-txt 教室について
                  dd 
                    details 
                      summary 
                        span.faq-item-question 近くに教室がありません。遠くから通われている方も多いですか？
                      p.faq-item-answer そのような方のニーズに応えるのが「土曜マスターコース」です。浜学園の受験指導の中核講座である「マスターコース」のカリキュラムが土曜1回で全科目受講できます。また、マスターコースの授業をご自宅でインターネットを介していつでも受講できる「Webスクール」がおすすめです。<br>詳細は、
                          a(href="") 多彩な講座ラインナップ 目的別コース
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 休校日はありますか？
                      p.faq-item-answer 原則として3月下旬に1日（合格祝賀会）、3月下旬より4月上旬にかけて9～11日間（春期講習期間）、5月初旬に3日間（GW5/3～5）、8月中に5～6日間（8/14～16,31）、12月下旬より1月上旬にかけて13～15日間（冬期講習期間）、および国民の祝日を塾生休校日としています。ただし、春期講習・冬期講習は休校日の期間中も実施します（大晦日および正月三が日を除く）。なお、祝日が日曜日と重なることによる月曜日の振替休日は、平常通り授業が行われます。また、上記以外に年間で2～3回、講義No．調整のため授業を行わない日があります。該当日は年間行事予定表に記載されます。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 台風などの警報や注意報が出た場合、休校になりますか？
                      p.faq-item-answer 台風襲来時に暴風警報や特別警報が発令された時のみ、授業を取り止めています。<br>詳細は、
                          a(href="") 台風襲来時 災害時に関する規定
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 引越しすることになりましたが、浜学園の他の教室へ転校できますか？
                      p.faq-item-answer お引越し先の通塾圏内にある浜学園の各教室に時期を問わず移籍が可能です。浜学園では、全教室・全クラスが同じ進度で授業を実施していますので、引越しをされても、そのままスムーズに受講を続けることが出来ます。
            .faq-item
              dl 
                input(type="checkbox" id="faq-09")
                label(for="faq-09") 
                  dt
                    p.faq-item-txt その他
                  dd 
                    details 
                      summary 
                        span.faq-item-question 一般生(浜学園塾生でない方)とはなんですか？
                      p.faq-item-answer 浜学園塾生ではない方のことを指します。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 入塾の際にかかる費用、授業料はおいくらですか？
                      p.faq-item-answer 学年や受講講座によって異なりますので最寄りの教室までお問い合わせください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 授業を欠席してしまいました。授業についていけるか心配ですが、補講はありますか？
                      p.faq-item-answer 欠席された方へはプリント『欠席者のための講義要点のまとめ』を提供いたしますので、自宅学習していただくことになりますが、インターネットを介して浜学園の授業をご自宅で受講できる、「Webスクール」もご用意していますので併用するとより効果的です。授業を欠席した際安心です。<br>詳細は、
                          a(href="") Webスクール（外部リンク）
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 受験強制はありますか？
                      p.faq-item-answer 浜学園では、経験豊かな担当者が「教育・進学相談資料」や豊富な情報をもとに公正な受験指導を行っていますが、その際にもっとも大切にしているのは、一人ひとりの希望と適性です。特定の学校を受験するよう勧めたり、生徒の成績と合致しない学校を受験させること、また逆に生徒の成績にのみにより特定校の受験を強制することは一切ありません。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 浜学園の教育方針は？
                      p.faq-item-answer 浜学園の塾生は、有名私学・国立大附属中への進学希望者がほとんどです。したがって、日頃から競争環境に身を置き、塾生一人ひとりが強い心を育める学習指導を行っています。<br>詳細は、
                          a(href="") 教育方針／沿革
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 特別講習（夏期講習や冬期講習）はありますか？
                      p.faq-item-answer 学校の長期休暇期間を利用し、マスターコース既習範囲の復習を中心に行う、春期講習・夏期講習・冬期講習があります。小6塾生に対しては冬期講習期間に「入試直前特訓Part1」、入試直前までに「入試直前特訓Part2」が開講されます。<br>詳細は、
                          a(href="") 講習会・入試直前特訓
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 内気な子どもですが、授業についていけるでしょうか？
                      p.faq-item-answer 内気だから授業についていけないということはありませんが、職員・講師はお子さん一人一人の特性にあわせて目配り、気配りをいたしますので、安心して通塾できるようにいたします。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 浜学園はどんな塾ですか？
                      p.faq-item-answer まず初めに、子どもたちに「学ぶことの楽しさ」を知ってもらいます。経験豊富な講師陣や、長い時間をかけて積み上げてきた学習システム、子どもたちの能力に応じたきめ細かい対応により、一人ひとりの志望校合格を着実に実現に近づけていきます。
                  dd 
                    details 
                      summary 
                        span.faq-item-question クラブや習い事と両立できますか？
                      p.faq-item-answer 習い事の兼ね合いがあり、マスターコースへの通塾が難しい方には、「土曜マスターコース（週1コース）」をご用意しています。週１回（土曜日）の通塾で、マスターコースの算･国･理のカリキュラム（講義）内容を全科目て受講できます。<br>詳細は、
                          a(href="") 多彩な講座ラインナップ 目的別コース
                          | をご覧ください。
              
        .FV-cta 
          a(href="/")
            img(src=path+"/img/page/btn.png", alt="")

    include ./include/_footer
    include ./include/_script