- var url          = '';
- var local_url    = 'http://192.168.11.3:3000/';
- var site_name    = '';
- var og_locale    = 'jp_JP';
- var og_type      = 'company';
- var twitter_card = 'summary_large_image';
- var twitter_site = '@';
- var title        = '';
- var description  = '';
- var og_img       = 'img/ogp.png';
- var favicon      = 'favicon.ico';
- var path         = '.'

doctype html
html(lang="ja")
  head
    include ./include/_head

  body
    include ./include/_header
    main 
      .FV
        picture.FV-bg 
          source(media="(min-width: 769px)", srcset=path+"/img/page/fv_bg.png")
          img(src=path+"/img/page/fv_sp_bg.png", alt="")
        .FV-img
          .FV-img_txt
            img(src=path+"/img/page/fv_txt.png", alt="")
          picture.FV-img_jisseki
            source(media="(min-width: 769px)", srcset=path+"/img/page/fv_content.png")
            img(src=path+"/img/page/fv_sp_content.png", alt="")
        .FV-sp.sp-only 
          img(src=path+"/img/page/fv_sp_human.png", alt="")
        .FV-cta 
          a(href="")
            img(src=path+"/img/page/btn.png", alt="")
      section.about
        .section-wrapper 
          .about-content
            h2.about-content-lead 
              em 独自の指導ノウハウ
              |を活かし
              br
              em 日々、より良い授業を提供する
              |ことが
              br
              |わたしたちの使命です。
            p.about-content-txt 浜学園は一人ひとりの能力を最大限に伸ばすことを主眼に置いています。<br>そして志望校合格という夢を実現していただくために<br>塾生や保護者の方々をサポートする様々な仕組みを実践しています。
          .about-img-pc
            .about-img-pc-left 
              .about-img-pc-left_above
                img(src=path+"/img/page/about_bg_1.png", alt="")
              .about-img-pc-left_below
                img(src=path+"/img/page/about_bg_2.png", alt="")
            .about-img-pc-right.pc-only
              img(src=path+"/img/page/about_bg_3.png", alt="")
      section.worries 
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle こんなお悩みありませんか？
          .worries-content
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_1.png", alt="")
              p.worries-content-item-txt 成績不振で親子関係が悪化
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_2.png", alt="")
              p.worries-content-item-txt 授業スピードについていけない
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_3.png", alt="")
              p.worries-content-item-txt 志望校の受験を想定した<br>カリキュラムがない
      section.strengths#anc-01
        .worries-arrow
          img(src=path+"/img/page/arrow.png", alt="")
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 浜学園の強み
          .strengths-content 
            .strengths-content-item
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_1.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-yellow 技術力、現場力
                  | を身につける<br>実践的なカリキュラム
                p.strengths-content-item-txt-text IT道場で学ぶ言語は一番企業が求めている求人数が多いJavaを中心に行っていきます。その他にもSQLやHTMLも実施します。<br>課題のレビューが週に2回あり、そこで進捗の確認を行います。
            .strengths-content-item.strengths-content-item--column-reverse
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_2.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-yellow 東証スタンダード上場
                  | の<br>IT系企業の
                  span.txt-yellow 充実したサポート体制
                p.strengths-content-item-txt-text 職業訓練校で4000名以上を育ててきた実績から技術力、現場力を育てるカリキュラムを用意してあります。<br>さらにISA制度を設けているので入校時の生徒の負担が少なく安心して受講できるように環境を整えています。
            .strengths-content-item
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_3.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-yellow 後払いもできる！
                  | <br>負担が少ない受講料
                p.strengths-content-item-txt-text 就職後に最初のお給料から毎月1,2万円を選択していただきスクール料金のお支払いしていただくシステムになります。<br>入学時に資金がなくてもお気軽に通うことができますので是非ご活用ください！<br>でもISA支払いだと運営成り立つの？と疑問が生まれると思います。ですが職業訓練校で4000名のうち7割（3000名、グループ会社200名）以上の人たちを就職させた実績があるのと、IT道場のカリキュラムはエスワイシステムの研修と同じでありまして、その研修を受けたほとんどの方が現場が決まり、仕事をしていく力が身についているからです。なので就職に関しては絶対的な自信があります！
      section.reason#anc-02
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 浜学園が選ばれる理由
          .reason-content
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_1.png", alt="")
              h3.reason-content-item-ttl お子様に合わせて<br>選べる豊富な学習コース
              p.reason-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_2.png", alt="")
              h3.reason-content-item-ttl 自宅でも学べる<br>Webスクール
              p.reason-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_3.png", alt="")
              h3.reason-content-item-ttl 一流の<br>講師陣による講義
              p.reason-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      section.voice#anc-03
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 保護者様の声
          .voice-content 
            .voice-content-item 
              .voice-content-item-img
                img(src=path+"/img/page/voice_img_1.png", alt="")
              h3.voice-content-item-ttl 強みになるテキストを挿入します。
              h3.voice-content-item-ttl 16~30文字を入れたいです。
              p.voice-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .voice-content-item 
              .voice-content-item-img
                img(src=path+"/img/page/voice_img_2.png", alt="")
              h3.voice-content-item-ttl 強みになるテキストを挿入します。
              h3.voice-content-item-ttl 16~30文字を入れたいです。
              p.voice-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      section.faq#anc-04
        .section-wrapper 
          .section-ttl
            h2.section-ttl-middle 
              | よくある質問
          .faq-content
            .faq-item
              dl 
                input(type="checkbox" id="faq-01")
                label(for="faq-01") 
                  dt
                    p.faq-item-txt 合格実績について
                  dd 
                    details 
                      summary 
                        span.faq-item-icon.question Q
                        span.faq-item-question ここに質問が入ります。
                      p 
                        span.faq-item-icon.answer A
                        span.faq-item-answer ここに質問が入ります。
            .faq-item
              dl 
                input(type="checkbox" id="faq-02")
                label(for="faq-02") 
                  dt
                    p.faq-item-txt カテゴリ名を入力
                  dd 
                    details 
                      summary 
                        span.faq-item-icon.question Q
                        span.faq-item-question ここに質問が入ります。
                      p 
                        span.faq-item-icon.answer A
                        span.faq-item-answer ここに質問が入ります。
        .FV-cta 
          a(href="/")
            img(src=path+"/img/page/btn.png", alt="")

    include ./include/_footer
    include ./include/_script