- var url          = '';
- var local_url    = 'http://192.168.11.3:3000/';
- var site_name    = '';
- var og_locale    = 'jp_JP';
- var og_type      = 'company';
- var twitter_card = 'summary_large_image';
- var twitter_site = '@';
- var title        = '';
- var description  = '';
- var og_img       = 'img/ogp.png';
- var favicon      = 'favicon.ico';
- var path         = '.'

doctype html
html(lang="ja")
  head
    include ./include/_head

  body
    include ./include/_header
    main 
      .FV
        picture.FV-bg 
          source(media="(min-width: 769px)", srcset=path+"/img/page/fv_bg.png")
          img(src=path+"/img/page/fv_sp_bg.png", alt="")
        .FV-img
          .FV-img_txt
            img(src=path+"/img/page/fv_txt.png", alt="関西難関中の受験に強い！浜学園")
          picture.FV-img_jisseki
            source(media="(min-width: 769px)", srcset=path+"/img/page/fv_content.png")
            img(src=path+"/img/page/fv_sp_content.png", alt="関西難関中8校で合格者数日本一達成 東海地区主要校 過去最高の大躍進！ 64年の歴史から洗練された教育体制")
        .FV-sp.sp-only 
          img(src=path+"/img/page/fv_sp_human.png", alt="")
        .FV-cta 
          a(href="")
            img(src=path+"/img/page/btn.png", alt="かんたん60秒登録 LINEで無料テストを申し込む")
      section.about
        .section-wrapper 
          .about-content
            h2.about-content-lead 
              em 独自の指導ノウハウ
              |を活かし
              br
              em 日々、より良い授業を提供する
              |ことが
              br
              |わたしたちの使命です。
            p.about-content-txt 浜学園は一人ひとりの能力を最大限に伸ばすことを主眼に置いています。<br>そして志望校合格という夢を実現していただくために<br>塾生や保護者の方々をサポートする様々な仕組みを実践しています。
          .about-img-pc
            .about-img-pc-left 
              .about-img-pc-left_above
                img(src=path+"/img/page/about_bg_1.png", alt="")
              .about-img-pc-left_below
                img(src=path+"/img/page/about_bg_2.png", alt="")
            .about-img-pc-right.pc-only
              img(src=path+"/img/page/about_bg_3.png", alt="")
      section.worries 
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle こんなお悩みありませんか？
          .worries-content
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_1.png", alt="")
              p.worries-content-item-txt 成績不振で親子関係が悪化
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_2.png", alt="")
              p.worries-content-item-txt 授業スピードについていけない
            .worries-content-item 
              .worries-content-item-img
                img(src=path+"/img/page/worries_img_3.png", alt="")
              p.worries-content-item-txt 志望校の受験を想定した<br>カリキュラムがない
      section.strengths#anc-01
        .worries-arrow
          img(src=path+"/img/page/arrow.png", alt="")
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 浜学園の強み
          .strengths-content 
            .strengths-content-item
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_1.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-blue 塾生の家庭学習や質問をフォロー
                p.strengths-content-item-txt-text 塾生向けWebサイト上で詳細な解説をご覧いただける「難問解説サービス」や、動画コンテンツとしての「Web全問解説講義」の配信により、ご自宅で家庭学習に取り組んでいただく中で生じた疑問や不明点を、その場ですぐに解消することができるサポート体制を用意しております。また、授業の前後で講師に直接質問に来ていただくことも可能です。
            .strengths-content-item.strengths-content-item--column-reverse
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_2.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-blue 能力に応じたクラス構成
                p.strengths-content-item-txt-text 入塾時にお受けいただく入塾テストだけではなく、受講開始以降も前回の講義内容を確認する「復習テスト」や、月に1度の実力試しとしての「公開学力テスト」の成績から、定期的なクラス替えを実施しております。同じ講座であればどのクラスでも進度は同じですが、クラスにより深度を変えているため、お子様の学力に合わせた効率的な学習が可能です
            .strengths-content-item
              .strengths-content-item-img
                img(src=path+"/img/page/strengths_img_3.png", alt="")
              .strengths-content-item-txt
                h3.strengths-content-item-txt-head
                  span.txt-blue 志望校別対策講座<br>負担が少ない受講料
                p.strengths-content-item-txt-text 基本的な内容を習得するマスターコース・土曜マスターコースと別に、特訓講座で志望校合格に向けたサポートをしていきます。特に、小6夏から開講する日曜志望校別特訓では、お子様の志望校に合わせた細かいコース選択が可能です。中核コースと併習していただくことで、基本と応用の双方向からの学習を進めていきます。
      section.reason#anc-02
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 浜学園が選ばれる理由
          .reason-content
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_1.png", alt="")
              h3.reason-content-item-ttl お子様に合わせて選べる豊富な学習コース
              p.reason-content-item-txt 平日（月～土）夕方実施のマスターコース、週に1回実施の土曜マスターコース、ハイレベルな内容に特化した特訓コースなど複数のコースをご用意しております。学年に合わせて受講スタイルを変えていくことも可能です。低学年のうちに週1回の受講から開始し、通塾に慣れてからコースを変更・追加するなど、お子様のスタイルに合わせてご選択いただけます。
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_2.png", alt="")
              h3.reason-content-item-ttl 自分でも学べるWebスクール
              p.reason-content-item-txt 浜学園の授業を受講したいけれども近くに教室がないなどの諸事情で通塾できない方のため、浜学園の授業をいつでも受講できるWebスクールをご用意しております。受験指導の中核講座「マスターコース」や難関校志望者の必須講座「最高レベル特訓算数・国語・理科」などを視聴いただけます。また、学習サポートについては、通塾生と同じものを提供しているため、家庭学習でのお困りごとも解消していただけます。
            .reason-content-item 
              .reason-content-item-img 
                img(src=path+"/img/page/reason_icon_3.png", alt="")
              h3.reason-content-item-ttl 一流の講師陣による講義
              p.reason-content-item-txt 厳しい研修を経て、一定の水準をクリアした者だけが授業を担当しています。もちろん講師昇格後も日々研鑽を重ね、定期的な研修への参加や、講師指導書による授業内容の質の確保、丁寧な教材研究による授業準備を実施しています。また、塾生からの授業アンケートを実施し、その結果を評価に反映させることで、子ども達のこころをつかむ授業を行い、生徒の学力アップにつなげています。
      section.voice#anc-03
        .section-wrapper 
          .section-ttl 
            h2.section-ttl-middle 保護者様の声
          .voice-content 
            .voice-content-item 
              .voice-content-item-img
                img(src=path+"/img/page/voice_img_1.png", alt="保護者様の声1")
              h3.voice-content-item-ttl 強みになるテキストを挿入します。
              h3.voice-content-item-ttl 16~30文字を入れたいです。
              p.voice-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .voice-content-item 
              .voice-content-item-img
                img(src=path+"/img/page/voice_img_2.png", alt="保護者様の声2")
              h3.voice-content-item-ttl 強みになるテキストを挿入します。
              h3.voice-content-item-ttl 16~30文字を入れたいです。
              p.voice-content-item-txt ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      section.faq#anc-04
        .section-wrapper 
          .section-ttl
            h2.section-ttl-middle 
              | よくある質問
          .faq-content
            .faq-item
              dl 
                input(type="checkbox" id="faq-01")
                label(for="faq-01") 
                  dt
                    p.faq-item-txt 合格実績について
                  dd 
                    details 
                      summary 
                        span.faq-item-question なぜ毎年、最難関・難関中学に多くの合格者を輩出できるのですか？
                      p.faq-item-answer 創業時からの英才教育を指導理念としてきた歴史と長年培われてきた実績から生みだされた学習システムがあるからです。<br>詳細は、
                          a(href="https://www.hamagakuen.co.jp/system/" target="_blank") 中学受験合格のノウハウ満載 学習システム
                          | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-04")
                label(for="faq-04") 
                  dt
                    p.faq-item-txt テストについて
                  dd 
                    details 
                      summary 
                        span.faq-item-question 入塾テストでは、何割ぐらいの人が合格しますか？
                      p.faq-item-answer 何割が合格するというものではなく、学校の勉強がしっかりできている方なら合格できます。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 公開学力テストと学力診断無料オープンテストの違いは何ですか？
                      p.faq-item-answer 公開学力テストは、全塾生と一般生(浜学園塾生でない方)を対象に毎月1回実施しますが、塾生に対しては2ヵ月に一度の学力判定を兼ねており、かつクラス替えの基本資料としている重要なテストです。<br>学力診断無料オープンテストは一般生(浜学園塾生でない方)のみを対象に年4回実施しますが、学力診断と銘打っていますので、公立小学校での既習範囲を中心とし単元別の学力診断を行うのが目的です。なお入塾テストも兼ねています。（無料）<br>詳細は、
                          a(href="https://www.hamagakuen.co.jp/test/" target="_blank") 学力がわかる・伸びる 学力テスト
                          | をご覧ください。
                  dd
                    details 
                        summary 
                          span.faq-item-question 公開学力テストなどで遅刻した場合はどうなりますか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 10分以上遅刻した場合は受験できません。<br>詳細は、
                            a(href="https://www.hamagakuen.co.jp/test/" target="_blank") 公開学力テスト
                            | をご覧ください。
            .faq-item
              dl 
                input(type="checkbox" id="faq-06")
                label(for="faq-06") 
                  dt
                    p.faq-item-txt 入塾について
                  dd
                    details 
                        summary 
                          span.faq-item-question 入塾前に授業体験ができますか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 小2～小6の塾生でない方を対象に、無料体験入塾を行っています。<br>詳細は、
                            a(href="https://www.hamagakuen.co.jp/trial/" target="_blank") 学習のサイクルを体験 無料体験入塾
                            | をご覧ください。
                  dd
                    details 
                        summary 
                          span.faq-item-question 入塾テストに合格すると、いつから受講できますか？また、学期の途中からでも入塾できますか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 手続きをしたタイミングで、いつからでも受講可能です。<br>詳細は、
                            a(href="https://www.hamagakuen.co.jp/flow/" target="_blank") いつからでも受講可能 入塾の流れ
                            | をご覧ください。
                  dd
                    details 
                        summary 
                          span.faq-item-question 何年生から通い始めるのが良いですか？
                        p 
                          span.faq-item-icon.answer A
                          span.faq-item-answer 中学受験を目指し浜学園に入塾される方は小4からが多いようです。ただし、低学年の頃からゆるやかに着実に学力をつけ、学習習慣をつけておきたいとお考えの場合は、低学年（小1・小2・小3）からの入塾をおすすめします。
            .faq-item
              dl 
                input(type="checkbox" id="faq-07")
                label(for="faq-07") 
                  dt
                    p.faq-item-txt サポートについて
                  dd 
                    details 
                      summary 
                        span.faq-item-question 子どもの通学が心配です。どのような安全対策を行っていますか？
                      p.faq-item-answer 『オルパスメール』というサービスを全教室で導入しています。お子様の教室到着時刻と教室出発時刻を、メールで保護者様へお知らせします。<br>詳細は、
                          a(href="https://www.hamagakuen.co.jp/care/mail/" target="_blank") 通塾情報お知らせメール オルパスメール
                          | をご覧ください。<br>また、教室周辺の路上や建物内の廊下などに職員やSG（セーフティガードと称する安全誘導者）が立ち、安全管理体制をとっています。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 授業についていけなくなった時はどうすればよいですか？
                      p.faq-item-answer まず、塾側で復習テストの結果から授業についていけない生徒を発見したり、保護者よりのお申し出により、不定期に指名補講を行います。最近では”ご自宅で何時でも何回でも視聴できる”Web講義による反復学習をする方も増えています。<br>詳細は、
                          a(href="https://www.hamagakuen.co.jp/care/" target="_blank") 塾生・保護者の不安解消 ケア＆フォロー
                          | をご覧ください。
                  dd 
                    details 
                      summary 
                        span.faq-item-question 個別に進路相談や教育相談を受けられますか？
                      p.faq-item-answer 保護者の悩みや疑問を受け止め、これらを払拭していただくために何時でも、何回でも「個別教育相談」を受け付けています。<br>詳細は、
                          a(href="https://www.hamagakuen.co.jp/care/individual/" target="_blank") 個別教育相談
                          | をご覧ください。
        .FV-cta 
          a(href="/")
            img(src=path+"/img/page/btn.png", alt="")

    include ./include/_footer
    include ./include/_script