header.header#header
  .header__wrapper
    .header__img-left
      a(href=path+"/")
        img(src=path+"/img/logo/logo.png", alt="浜学園")
    .header__list
      .header__list__item
        a(href=path+"#anc-01").text-bold.menuLink01 浜学園の強み
      .header__list__item
        a(href=path+"#anc-02").text-bold.menuLink02 選ばれる理由
      .header__list__item
        a(href=path+"#anc-03").text-bold.menuLink03 保護者様の声
      .header__list__item
        a(href=path+"#anc-04").text-bold.menuLink04 よくある質問
    a(href="").header__img-line.pc-only
      img(src=path+"/img/page/comment.png", alt="")
      p.header__img-line__txt LINEで無料相談
  .header__toggler
    span
